div{
    background-color: rgb(121, 128, 124);
    padding: 10px;
    margin: 10px;
    border: 2px solid rgb(100, 104, 136);
    box-shadow: 10px 10px 10px rgb(85, 90, 85);
    margin-bottom: 20px;
}